.svg-container {
    position: relative;
    zIndex: -1;
}

.shape {
    fill-opacity: 0.75;
    fill: lightskyblue;
    stroke: white;
    stroke-width: 3;
}

.selected-shape {
    @extend .shape;
    fill: orange;
    stroke: greenyellow;
    cursor: move;
}

.circle {
    fill: orange;
}

.circle:hover {
    fill: lightgreen;
}

.draghandle {
    cursor: crosshair; // closest cursor to allow movement in any direction
    pointer-events: all;
}

.sensor {
    cursor: pointer;
}
