.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  position: relative;
}

.toolbar {
  z-index: 1;
  height: 3em;
  background-color: #222222ff;
  box-sizing: border-box;
  padding-top: 0.4em;
  padding-left: 0.7em;
}

// selector for any descendent of .toolbar
.toolbar * {
  color: white;
  display: inline;
  margin: 0.2em 0.6em 0em;
}

.toolbar > span {
  padding-right: 0.5em;
}

.container:focus {
  outline: none;
}

$toolbar-width: 35px;

.shape {
  fill-opacity: 0.75;
  fill: lightskyblue;
  stroke: white;
  stroke-width: 3;
}

.selected-shape {
  @extend .shape;
  fill: orange;
  stroke: greenyellow;
  cursor: move;
}

.circle {
  fill: orange;
}

.circle:hover {
  fill: lightgreen;
}

.draghandle {
  cursor: crosshair; // closest cursor to allow movement in any direction
  pointer-events: all;
}