.container {
  text-align: center;
  width: 250px;
  min-width: 150px;
}

.management-sections {
  margin-top: 2em;
}

.container > span,
container > button {
  display: block;
}

.container > button {
  margin: 0 auto;
}

.list {
  max-height: 50%;
  overflow: auto;
}

.list > li {
  list-style: disc;
}

.trigger {
  display: inline-block;
  width: 1em;
  height: 1em;
}
