.container {
    width: 100%;
    height: 85%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.signup-input {
    margin-bottom: 1em;
    width: 15em;
    height: 2.5em;
    background-color: #3d3d3f;
    color: white;
    font-size: 12px;
}