.container {
  width: 100%;
  height: 100%;
}

.container li {
  text-align: left;
}

.sensor {
  fill: white;
}

.sensor:hover {
  fill: lightgreen;
  cursor: pointer;
}

.editbar {
  position: absolute;
  z-index: 1;
  width: 100%;
  background-color: lightgreen;
  padding: 1px 0;
  text-align: center;
  color: #222;
}
