.header {
    font-size: 1.2rem;
    border-bottom: thin solid #333;
}

.item {
    display: inline-block;
    margin: 0.4rem;
    margin-right: 2rem;
    // font-size: 1rem;
}

.title {
    display: inline-block;
    font-weight: 700;
    margin: 1.0rem 2rem;
}