.container {
  background-color: #191919;
  min-width: 12em;
  text-align: center;
  padding-top: 2em;
  height: 100%;
  box-sizing: border-box;
}

.entry {
  display: block;
  margin: 0 auto;
  padding: 0.2em;
}

