$toolbar-width: 35px;

.grid-toolbar {
  position: absolute;
  right: 20px;
  bottom: 25px;
  height: 150px;
  width: $toolbar-width;
  background-color: #222222;
  z-index: 1;
}

.toolbaricon {
  width: $toolbar-width;
  filter: invert(100);
  padding: $toolbar-width * 0.2;
  margin: 0;
  box-sizing: border-box;
}

.toolbaricon:hover {
  background-color: white; // actually black due to invert filter
}
