body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu",
    "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

html {
  color: white;
  font-size: 14px;
  background-color: #111;
  // disable double click selections
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

form {
  text-align: center;
}

li {
  list-style: none;
}

::placeholder {
  color: rgb(155, 155, 155);
}

label {
  display: block;
}

input {
  background-color: #3d3d3f;
  color: white;
  display: block;
  border: none;
  margin: 5px auto;
  text-align: center;
}

input[type="radio"] {
  display: inline-block;
  margin: 0.5em 0.8em;
}

input[type="submit"] {
  margin-top: 1em;
  display: block;
  color: white;
  font-size: 1em;
  border-style: none;
  background: none;
}

input[type="submit"]:hover {
  color: #4285f4;
}

input:invalid {
  border: 1px solid rgb(109, 58, 58);
}

button {
  font-size: 1rem;
  border: none;
  background: none;
  color: whitesmoke;
}

/** designed to turn <hr> into a vertical break */
.v-sep {
  display: inline;
  margin: 0.8rem;
  margin-right: 1rem;
}

button:hover {
  // we want this to apply everywhere so carefully mark it as !important
  color: #4285f4 !important;
}

button:focus {
  outline: 0;
}
.flex-container {
  display: flex;
  width: 100%;
  height: 100%;
}

// Horizontal flex container
.h-flex-container {
  @extend .flex-container;
  flex-direction: row;
}

.v-flex-box {
  display: flex;
  flex-direction: column;
}

.management-sections {
  margin-top: 2em;
}

.v-flex-container {
  @extend .flex-container;
  flex-direction: column;
  align-items: center;
}

.tooltip {
  position: relative;
  border-bottom: 1px dotted black;
}

.tooltip:hover .tooltip-text {
  visibility: visible;
}

.tooltip .tooltip-text {
  white-space: pre;
  visibility: hidden;
  background-color: #333;
  color: #fff;
  text-align: center;
  border-radius: 5px;
  padding: 0.4em;
  position: absolute;
  z-index: 1;
}

svg {
  z-index: -100;
}

#popupContainer {
  position: fixed;
  z-index: 100;
  margin: 5% auto;
  background-color: #33333322;
  left: 0;
  right: 0;
}

.boxed-button {
  background-color: rgb(55, 55, 55);
  margin-left: 1em;
  padding: 0.3em 0.8em;
  border-radius: 0.5em;
}

.boxed-button:hover {
  color: white;
  background-color: rgb(41, 41, 41);
}

.x-button {
  color: red;
}

.x-button:hover {
  color: rgb(121, 0, 0);
}

.inline-section-title {
  display: inline-block;
  margin-top: 1.5em;
  margin-bottom: 0;
}

.inline-icon {
  margin-left: 1em;
  width: 1em;
  height: 1em;
}

.inline-block {
  display: inline-block;
}

