/* global css */

.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.footer {
  height: 2rem;
  border-top: thin solid #333;
}

.content {
  flex: 1;
  min-height: 0; // Allows shrinking such that the header and footer are in the correct position
  display: flex;
}

.popup-container {
  width: 70vw;
  height: 60vh;
}
