.keydisplay {
  display: inline-block;
  padding: 0.1em 0;
  width: 80%;
  background-color: rgb(50, 50, 50);
  font-size: 1.1em;
}

.select {
  margin: 0 2em;
}

.keys {
  -webkit-user-select: text;
  -moz-user-select: text;
  -ms-user-select: text;
  user-select: text;
}

.headings {
  padding-top: 1em;
  margin-left: 1em;
}
.container li {
  text-align: right;
}
